$darken-primary: darken($primary-color, 15)

/** Buttons **/
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] 
	background: $primary-color
	border-radius: 6px
	border: 0
	color: #ffffff
	cursor: pointer
	display: inline-block
	font-family: $button-family
	font-size: 1.8rem
	font-weight: 500
	padding: 15px 60px
	text-align: center
	text-decoration: none
	text-decoration: none
	text-transform: capitalize
	white-space: nowrap
	@include transition(background 0.5s ease)
	
	&:hover, &:focus
		color: #ffffff
		background: $darken-primary
	
	// Let's make the buttons smaller for big screens
	@media screen and (min-width: $break-medium)
		font-size: 1.3rem
		padding: 15px 35px

	// Dark Button
	&.btn-dark
		background: $black
		
		&:hover, &:focus
			background: darken($black, 15)

	// Line only button
	&.btn-line
		background: transparent
		border: 1px solid #ffffff
		padding: 13px 36px // Temporary fix
		
		&:hover, &:focus
			background: $primary-color
			border: 1px solid $primary-color


	// Bigger button
	&.btn-big
		font-size: 1.6rem