@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #2E2E2E;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

img, figure {
  height: auto;
  max-width: 100%;
}

img {
  vertical-align: top;
}

a {
  color: #8DC73F;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:hover, a:focus {
  color: #72a330;
}

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/** Typography **/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
  text-rendering: optimizelegibility;
  text-transform: capitalize;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #797979;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #72a330;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

/** Typography - Larger than phablet **/
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/** Header **/
.header {
  background: #2E2E2E;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  -webkit-animation: fadeIn 0.3s 0.1s both;
  -moz-animation: fadeIn 0.3s 0.1s both;
  animation: fadeIn 0.3s 0.1s both;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

@media screen and (min-width: 868px) {
  .header {
    height: 70px;
    line-height: 70px;
  }
}

@media screen and (min-width: 868px) {
  .header-transparent {
    background: none;
  }
}

.header-sticky {
  background: #2E2E2E;
  background: rgba(46, 46, 46, 0.95);
  position: fixed;
}

.header .logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  position: absolute;
  height: 45px;
  width: 250px;
}

@media screen and (min-width: 868px) {
  .header .logo {
    height: 55px;
    top: 5px;
    width: 250px;
  }
}

.header .logo:hover {
  opacity: 0.75;
}

.pad {
  height: 50px;
}

@media screen and (min-width: 868px) {
  .pad {
    height: 70px;
  }
}

/** Icons **/
.icon {
  fill: #8DC73F;
  height: 100%;
  width: 100%;
}

.icon-container {
  display: inline-block;
  margin-bottom: 30px;
}

.icon-round {
  border-radius: 150px;
  border: 1px solid #D6D6D6;
  height: 150px;
  padding: 35px;
  width: 150px;
}

/** Titles and summaries **/
.title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.title:after {
  background: #8DC73F;
  content: "";
  display: block;
  height: 2px;
  margin: 40px auto;
  width: 100px;
}

.summary {
  color: #797979;
  line-height: 2.8rem;
  margin: 0 auto 8rem auto;
  text-align: center;
  width: 85%;
}

@media screen and (min-width: 868px) {
  .summary {
    width: 75%;
  }
}

/** Main Navigation Menu **/
.site-navigation {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 100%;
}

.site-navigation ul.navigation {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: static;
}

.site-navigation ul.navigation li {
  margin: 0;
  position: relative;
}

.site-navigation ul.navigation li a {
  color: #ffffff;
  display: block;
  font-weight: 600;
  padding: 20px 15px;
  text-decoration: none;
}

@media screen and (min-width: 868px) {
  .site-navigation ul.navigation li a {
    padding: 0;
    margin: 0 25px;
  }
}

.site-navigation ul.navigation li a:hover {
  color: #a0a0a0;
}

#menu-hamburger {
  font-weight: bold;
  height: 5rem;
  padding: 1rem 5rem 1rem 0;
  text-align: right;
}

#menu-hamburger:before, #menu-hamburger:after {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#menu-hamburger:before {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 16px;
  width: 20px;
}

#menu-hamburger:after {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  box-sizing: content-box;
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  right: 17px;
  top: 22px;
  width: 20px;
}

#menu-hamburger.menu-opened:after {
  background: #fff;
  border: 0;
  height: 2px;
  top: 23px;
  width: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-hamburger.menu-opened:before {
  background: #fff;
  top: 23px;
  width: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 868px) {
  .site-navigation {
    font-size: 1.4rem;
    position: relative;
    width: auto;
  }
  .site-navigation ul.navigation {
    display: block;
  }
  .site-navigation ul.navigation li {
    float: left;
  }
  .site-navigation #menu-hamburger {
    display: none;
  }
}

/** Buttons **/
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #8DC73F;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.btn:hover,
.btn:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover, input[type="button"]:focus {
  color: #ffffff;
  background: #64902a;
}

@media screen and (min-width: 868px) {
  .btn,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    font-size: 1.3rem;
    padding: 15px 35px;
  }
}

.btn.btn-dark,
input[type="submit"].btn-dark,
input[type="reset"].btn-dark,
input[type="button"].btn-dark {
  background: #2E2E2E;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus,
input[type="submit"].btn-dark:hover,
input[type="submit"].btn-dark:focus,
input[type="reset"].btn-dark:hover,
input[type="reset"].btn-dark:focus,
input[type="button"].btn-dark:hover, input[type="button"].btn-dark:focus {
  background: #080808;
}

.btn.btn-line,
input[type="submit"].btn-line,
input[type="reset"].btn-line,
input[type="button"].btn-line {
  background: transparent;
  border: 1px solid #ffffff;
  padding: 13px 36px;
}

.btn.btn-line:hover,
.btn.btn-line:focus,
input[type="submit"].btn-line:hover,
input[type="submit"].btn-line:focus,
input[type="reset"].btn-line:hover,
input[type="reset"].btn-line:focus,
input[type="button"].btn-line:hover, input[type="button"].btn-line:focus {
  background: #8DC73F;
  border: 1px solid #8DC73F;
}

.btn.btn-big,
input[type="submit"].btn-big,
input[type="reset"].btn-big,
input[type="button"].btn-big {
  font-size: 1.6rem;
}

/** Forms **/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
  border: 1px solid #D6D6D6;
  font-family: inherit;
  font-size: 1.3rem;
  margin: 12px 0;
  padding: 16px 20px;
  width: 100%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #8DC73F;
  outline: 0;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/** Project Thumbnail **/
.project__thumb {
  background: #2E2E2E;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 380px) {
  .project__thumb {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 868px) {
  .project__thumb {
    width: 25%;
    float: left;
  }
}

.project__thumb.last {
  float: right;
  margin-right: 0;
}

.project__thumb img, .project__thumb button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.project__thumb button {
  left: 50%;
  margin-left: -85px;
  margin-top: -18px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 170px;
  z-index: 2;
}

@media screen and (min-width: 380px) {
  .project__thumb:hover img {
    opacity: .5;
  }
  .project__thumb:hover button {
    opacity: 1;
  }
}

/** Pages Nav **/
ul.pages-nav {
  display: block;
  font-family: "Raleway", sans-serif;
  list-style: none;
  margin: 40px 0;
  padding: 0;
  text-align: center;
}

ul.pages-nav li {
  display: inline-block;
  margin: 10px 0;
}

ul.pages-nav li a {
  border-radius: 20px;
  color: #2E2E2E;
  font-weight: 600;
  padding: 5px 15px;
  text-transform: uppercase;
}

ul.pages-nav li.active a, ul.pages-nav li a:hover {
  background: #8DC73F;
  color: #ffffff;
}

/** Free estimate **/
.free-estimate {
  background: #8DC73F;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

@media screen and (min-width: 868px) {
  .free-estimate {
    text-align: left;
  }
}

.free-estimate__title,
.free-estimate__summary {
  margin: 0;
}

@media screen and (max-width: 868px) {
  .free-estimate__title {
    font-size: 2rem;
  }
}

.free-estimate .btn {
  position: relative;
  top: 13px;
}

/** List of all services **/
ul.all-services {
  margin: 60px auto;
  text-align: center;
  width: 95%;
}

ul.all-services > li {
  color: #797979;
  display: inline-block;
  margin: 8px 0;
  text-transform: capitalize;
}

ul.all-services > li a {
  color: #797979;
}

ul.all-services > li a:hover {
  color: #8DC73F;
}

ul.all-services > li:after {
  content: "•";
  display: inline-block;
  margin: 0 10px;
}

ul.all-services > li:last-of-type:after {
  content: "";
}

/** Sections **/
.section {
  padding: 80px 0;
}

@media screen and (min-width: 868px) {
  .section {
    margin: 60px 0 0;
  }
}

.section .section__meta {
  margin-bottom: 80px;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Why Us **/
@media screen and (max-width: 868px) {
  #why-us .service {
    margin-bottom: 30px;
  }
  #why-us .service .icon-container {
    float: left;
    height: 85px;
    margin-right: 40px;
    padding: 20px;
    width: 85px;
  }
}

@media screen and (min-width: 868px) {
  #why-us .service {
    padding: 0;
    text-align: center;
    width: 25%;
    float: left;
    margin-right: 12.5%;
  }
  #why-us .service:last-of-type {
    float: right;
    margin-right: 0;
  }
}

/** Projects showcase **/
#projects-showcase {
  color: #ffffff;
  background: #2E2E2E;
}

#projects-showcase .featured-projects {
  margin: 80px auto;
}

/** Our services **/
#our-services .all-services {
  margin-bottom: 50px;
}

#our-services .icon-container {
  float: left;
  height: 50px;
  margin-right: 40px;
  width: 50px;
}

/** Client quotes **/
#client-quotes {
  background: #F6F6F6;
}

#client-quotes .client-quote {
  text-align: center;
}

#client-quotes .client-quote .quote {
  margin: 0 auto;
  max-width: 900px;
  font-size: 2.8rem;
}

#client-quotes .client-quote .client-name {
  color: #8DC73F;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 50px 0 80px;
}

#client-quotes .client-quote .client-name:before {
  content: '—';
  display: inline-block;
  margin-right: 8px;
}

#client-quotes .slick-prev,
#client-quotes .slick-next,
#client-quotes ul.slick-dots li button:before {
  top: 20%;
  color: #8DC73F;
}

.main {
  padding: 120px 0;
}

.content {
  font-size: 1.8rem;
  line-height: 1.7;
}

/** Services **/
.services {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services > li {
  list-style: none;
  margin-bottom: 2rem;
}

@media screen and (min-width: 868px) {
  .services > li {
    width: 49.8007968127%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .services > li:nth-child(2n+2) {
    float: right;
    margin-right: 0;
    float: left;
  }
}

.service__icon {
  float: left;
  width: 19%;
  width: calc(100% - 80%);
}

.service__icon .icon {
  height: 50px;
}

.service__details {
  float: right;
  margin-left: 15px;
  width: 79%;
  width: calc(100% - (20% + 15px));
}

@media screen and (min-width: 868px) {
  .service__details {
    margin: 0;
    width: calc(100% - 20%);
  }
}

.service__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.service__title.big {
  font-size: 2.2rem;
}

.service__title a {
  color: #2E2E2E;
}

.service__title a:hover {
  color: #8DC73F;
}

.service__summary {
  color: #797979;
}

/** Projects **/
.projects, .other-projects {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.projects:after, .other-projects:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (min-width: 380px) {
  .projects .project__thumb {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 868px) {
  .projects .project__thumb {
    margin-bottom: 5%;
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }
}

.projects .project__thumb.last {
  float: right;
  margin-right: 0;
}

/** Project Page **/
.project-container {
  margin-bottom: 100px;
}

.project-container .project-info {
  background: #F6F6F6;
  border: 1px solid #D6D6D6;
  margin-bottom: 30px;
  padding: 20px 30px;
}

@media screen and (min-width: 868px) {
  .project-container .project-info {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }
}

.project-container .project-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-container .project-info ul li {
  margin-bottom: 10px;
}

/** Project Slider **/
.project__slides .slick-prev,
.project__slides .slick-next {
  color: #8DC73F;
}

.project__slide > img {
  margin: 0 auto;
  max-height: 750px;
}

.project__slider-nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.project__slider-nav:after {
  content: " ";
  display: block;
  clear: both;
}

.project__slider-thumb {
  margin: 10px;
  cursor: pointer;
}

.project__slider-thumb img {
  width: 100%;
}

/** Project Page **/
.project__gallery {
  margin-bottom: 7rem;
}

.project__gallery-thumbs {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.project__gallery-thumbs:after {
  content: " ";
  display: block;
  clear: both;
}

.project__gallery-thumbs > a {
  width: 16.3346613546%;
  float: left;
}

.project__gallery-thumbs > a:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.project__gallery-thumbs > a:nth-child(6n + 2) {
  margin-left: 16.7330677291%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumbs > a:nth-child(6n + 3) {
  margin-left: 33.4661354582%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumbs > a:nth-child(6n + 4) {
  margin-left: 50.1992031873%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumbs > a:nth-child(6n + 5) {
  margin-left: 66.9322709163%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumbs > a:nth-child(6n + 6) {
  margin-left: 83.6653386454%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumbs > a img {
  width: 100%;
  height: auto;
}

.project__gallery-thumb {
  width: 16.3346613546%;
  float: left;
}

.project__gallery-thumb:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.project__gallery-thumb:nth-child(6n + 2) {
  margin-left: 16.7330677291%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumb:nth-child(6n + 3) {
  margin-left: 33.4661354582%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumb:nth-child(6n + 4) {
  margin-left: 50.1992031873%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumb:nth-child(6n + 5) {
  margin-left: 66.9322709163%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumb:nth-child(6n + 6) {
  margin-left: 83.6653386454%;
  margin-right: -100%;
  clear: none;
}

.project__gallery-thumb img {
  width: 100%;
  width-height: auto;
}

/** Contact Page **/
@media screen and (min-width: 868px) {
  .contact-form {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
}

.contact-info {
  margin-top: 5rem;
}

@media screen and (min-width: 868px) {
  .contact-info {
    margin: 0;
    width: 33.3333333333%;
    float: left;
  }
}

.contact-info__container {
  margin-bottom: 2rem;
}

.contact-info__icon {
  color: #D6D6D6;
  float: left;
  font-size: 3rem !important;
  width: 14%;
  width: calc(100% - 85%);
}

.contact-info__details {
  color: #797979;
  float: right;
  width: 84%;
  width: calc(100% - 15%);
}

.contact-info__details h3 {
  color: #8DC73F;
  font-size: 2.8rem;
  margin: 0;
}

/** Slider **/
#main-slider,
.slide-container,
.slide {
  height: 650px;
  overflow: hidden;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
}

.slide-content {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 868px) {
  .slide-content .slide-meta {
    margin: 0 auto;
    max-width: 700px;
  }
}

.slide-content .title {
  color: #FFF;
  font-size: 7rem;
}

@media screen and (max-width: 868px) {
  .slide-content .title {
    text-shadow: 1px 1px 5px #000;
  }
}

.slide-content .summary {
  color: #FFF;
  margin-bottom: 3rem;
}

@media screen and (max-width: 868px) {
  .slide-content .summary {
    text-shadow: 1px 1px 5px #000;
  }
}

.slide-content .btn {
  margin: 15px;
}

/** Slider Navigation **/
ul.slick-dots {
  bottom: 10px;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

ul.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 20px;
}

ul.slick-dots li.slick-active button:before {
  opacity: 1;
}

ul.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 5px;
  width: 20px;
}

ul.slick-dots li button:hover, ul.slick-dots li button:focus {
  outline: none;
}

ul.slick-dots li button:hover:before, ul.slick-dots li button:focus:before {
  opacity: 1;
}

ul.slick-dots li button:before {
  color: white;
  content: '•';
  font-size: 35px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

/** Slick Navigation Arrows **/
.slick-prev,
.slick-next {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: FontAwesome;
  font-size: 60px;
  height: 60px;
  line-height: 1;
  opacity: 1;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  opacity: .5;
}

.slick-next {
  right: 0;
  content: '\f105';
}

.slick-prev {
  left: 0;
  content: '\f104';
}

/** Slick Slider default styles **/
.slick-slider {
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
}

.slick-track:before {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
  content: '';
  display: table;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

/** Footer **/
#footer {
  background: #2E2E2E;
  color: #F6F6F6;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #a0a0a0;
}

/** Footer widgets **/
.footer__widgets {
  padding: 40px;
}

.footer__widgets .widget {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 868px) {
  .footer__widgets .widget {
    margin-bottom: 0;
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }
  .footer__widgets .widget:last-of-type {
    float: right;
    margin-right: 0;
  }
}

.footer__widgets .widget h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__widgets .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 868px) {
  .footer__widgets .contact {
    width: 34.7826086957%;
    float: left;
    margin-right: 4.347826087%;
  }
}

.footer__widgets .contact ul li {
  margin: 10px 0;
}

.footer__widgets .contact ul li i {
  margin-right: 10px;
  text-align: center;
  width: 15px;
}

.footer__widgets .company ul li:before, .footer__widgets .language ul li:before {
  content: "•";
  display: inline-block;
  margin-right: 20px;
}

@media screen and (min-width: 868px) {
  .footer__widgets .company {
    width: 12.5%;
    float: left;
  }
}

@media screen and (min-width: 868px) {
  .footer__widgets .social {
    width: 12.5%;
    float: left;
  }
}

.footer__widgets .social .social-networks span {
  margin-right: 20px;
  font-size: 2.6rem;
  font-family: FontAwesome;
}

@media screen and (min-width: 868px) {
  .footer__widgets .language {
    width: 10%;
    float: left;
  }
}

@media screen and (min-width: 868px) {
  .footer__widgets .bbb {
    width: 8.3333333333%;
    float: left;
  }
}

/** Site Info **/
.footer__note {
  background: #8DC73F;
  font-size: 1.2rem;
  padding: 25px 0;
}

@media screen and (max-width: 868px) {
  .footer__note div {
    text-align: center;
    width: 100%;
  }
}

.footer__note a {
  font-weight: bold;
}

.footer__note p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.footer__note .square-pixl {
  font-family: FontAwesome;
  margin-left: 3px;
}

/** Containers **/
.header::after, .site-navigation ul.navigation::after, .project__thumb::after, .section::after, #why-us .service::after, #projects-showcase .featured-projects::after, .services > li::after, .project-container::after, .contact-form::after, .contact-info__container::after, .wrap::after, .main::after {
  clear: both;
  content: "";
  display: table;
}

.wrap, .main {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .wrap, .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap:after, .main:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.fullwidth {
  min-width: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 868px) {
  .hide-sm {
    display: none;
  }
}

@media screen and (min-width: 868px) {
  .hide-md {
    display: none;
  }
}

/** Grid **/
@media screen and (min-width: 868px) {
  .col-1 {
    width: 7.96812749%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-1:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-2 {
    width: 16.3346613546%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-2:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-3 {
    width: 24.7011952191%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-3:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-4 {
    width: 33.0677290837%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-4:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-5 {
    width: 41.4342629482%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-5:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-6 {
    width: 49.8007968127%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-6:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-7 {
    width: 58.1673306773%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-7:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-8 {
    width: 66.5338645418%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-8:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-9 {
    width: 74.9003984064%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-9:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-10 {
    width: 83.2669322709%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-10:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-11 {
    width: 91.6334661355%;
    float: left;
    margin-right: 0.3984063745%;
  }
  .col-11:last-of-type {
    float: right;
    margin-right: 0;
  }
  .col-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .col-12:last-of-type {
    float: right;
    margin-right: 0;
  }
  .last {
    float: right;
    margin-right: 0;
  }
}
